<div class="list">
<h1>Applications Registered</h1>
<p></p>
<% @applications.each_slice(4) do |array_application| %>
	<div class="row">
		<% array_application.each do |application|%>
			<div class="col-sm-3">
				<%= link_to application.name, application_path(application.id)%>
			</div>
		<%end%>
	</div>	

<%end%>
<p></p>
<a href="<%= new_application_path%>"><button type="button" class="btn btn-success">Add New App </button></a>
</div>



