<ul class="nav nav-tabs">
    <li role="presentation" class=""><a href="<%= root_path%>">Home</a></li>
    <li role="presentation" class=""><a href="<%= about_us_path %>">About us</a></li>
    <li role="presentation" class=""><a href="<%= contacts_path %>">Contacts</a></li>
  </ul>